<!DOCTYPE html>
<html lang="en">
<head>
	{% comment %} {% load static %}
	<link rel="stylesheet" href="{% static admin/css/base.css %}" /> {% endcomment %}
	<title>{% block title %}My Amazing Site{% endblock %}</title>
</head>

<body>
	<div id="sidebar">
		{% block sidebar %}
		<ul>
			<li><a href="/">Project_Home</a></li>
			<li><a href="/admin/">Admin</a></li>
		</ul>
		{% endblock %}
		<br>
	</div>

	<div = id="content">
		{% block content %}{% endblock %}
	</div>
</body>
</html>